*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-size: 25px;
	
}
body{
	background: papayawhip;
	text-align: center;
}
.create{
	display: flex;
	justify-content: center;
	margin-top: -70px;
}
.logoimg{
	width: 15%;    
}
.TopLayer{
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	justify-content: space-between;
}
.logout{
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
}

.account{
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
	margin-bottom: 1%;
}
.box{}