<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Home</title>
		<link href="/css/home.css" rel="stylesheet" >
	</head>

	<body>
		<div class="container">
			<div class="TopLayer" >
				<img alt="" src="https://i.ibb.co/6b73DNg/logo-no-background.png" class="logoimg">
				<h2> Hello there: <b>[[${user.username}]]</b></h2>
			</div>
			<div class="logout" >
				<form method="post" action="/logout">
		       		<input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		       		<button type="submit">Logout</button>
		     	</form>
			</div>
			<div class="MidLayer">
			 	<form th:action="@{/Create/Videogame/{username}(username=${user.username})}" method="get" class="create" >
				 	<input type="submit" value="Create A Game To Review" >
			 	</form>
			 	<div class="review">
				 	<h2>Reviewed Games Below</h2>
				 	<div th:each="game : ${user.videoGame}" >
				 		<div>
				 			<div th:if="${game.completed == true} ">
				 			<b><a th:href="@{/View/{username}/{title}(username= ${user.username}, title= ${game.title})}">[[${game.title}]] </a>  </b>
				 				Finished
				 			</div>
				 			<div th:if="${game.completed == false} ">
				 			<b><a th:href="@{/View/{username}/{title}(username= ${user.username}, title= ${game.title})}">[[${game.title}]] </a>  </b>
				 				Not finished
				 			</div>
				 		</div>
					</div>
			 	</div>
				<form th:action="@{/get-games/{username}(username= ${user.username})}" method="get">
					<input type="submit" value="Generate A List Of Games" >
				</form>
			</div>
		</div>
	</body>
</html>