<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Register</title>
		<script src="https://kit.fontawesome.com/cc1fed101b.js" crossorigin="anonymous"></script>
		<link type="text/css" href="/css/register.css" rel="stylesheet" >
	</head>
	<body>
		<div class="wrapper">
			<h2 class="color">Register</h2>
			<form method="post" action="" >
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
				<div class="color">
					<div class="color">
						Username: <input type="text" th:field="${user.username}" class="color">
					</div>
					<div class="color">
						Password:&nbsp; <input type="password" th:field="${user.password}" class="color"> <i id="passwordEyeIcon" class="fa-solid fa-eye"></i>
					</div>
				</div>
				<!--  
				<div>
					Confirm Password: <input type="password" th:field="${user.validatePassword}" id="confirmPassword"/> <i id="conformPasswordEyeIcon" class="fa-solid fa-eye"></i>
				</div>
				-->
				<div class="btn">
					<button id="submitButton"  class="submitbtn">Submit</button>
				</div>
			</form>
		</div>
		
		<script type="text/javascript" src="/js/register.js"></script>
	</body>
</html>